<!doctype>
<html>
	<head>
		{{> head}}
	</head>
	<body>
		<center>
			<div id="banner">
				<a href="/">
					<img src="/img/banner.png"/>
				</a>
			</div>
			<div id="formulario">
				<div id="titulo">
					<h1>Cadastro</h1>
				</div>
				<form method="post" action="/cadastro">
					<div style="form-group">
						<input name="nome" type="text" placeholder="Nome do Filme" class="form-control"/>
					</div>
					<div style="form-group">
					<select name="genero" class="form-control">
			  			<option value="ACAO">Ação</option>
			  			<option value="COMEDIA">Comédia</option>
						<option value="DRAMA">Drama</option>
			  			<option value="EPICO">Épico</option>
						</select>
					</div>
					<div style="form-group">
						<input name="anolancamento" type="number" placeholder="Ano de Lançamento" class="form-control"/>
					</div>
					<div style="form-group">
						<textarea name="sinopse" placeholder="Sinopse" class="form-control" rows="3" style="resize: none"></textarea>
					</div>
					<div>
						<center>
							<button type="submit" class="btn btn-default">Cadastrar</button>
						</center>
					</div>
				</form>
			</div>
		</center>
	</body>
</html>