<!doctype>
<html>
	<head>
		{{> head}}
	</head>
	<body>
		<center>
			<div id="banner">
				<a href="/">
					<img src="/img/banner.png"/>
				</a>
			</div>
			<div id="conteudo">
					<h1 class="tipo">Olá, {{nome}}!</h1>
					<div id="menu">
					{{#isadmin}}
					<a href="/cadastrousuario"><button class="btn btn-default menu">Cadastrar Usuário</button></a>
					<a href="/cadastro"><button class="btn btn-default menu">Cadastrar Filme</button></a>
					<a href="/listausuario"><button class="btn btn-default menu">Listar Filmes</button></a>
					{{/isadmin}}
					<a href="/lista"><button class="btn btn-default menu">Listar Filmes</button></a>
					<br>
					<a href="/logoff"><button class="btn btn-default menu">Deslogar</button></a>
				</div>
			</div>
		</center>
	</body>
</html>.

