#banner{
	margin-top: 3%;
}
#titulo,.tipo{
	font-family: 'Open Sans', sans-serif;
	color: lightslategray;
}
#formulario{
	width: 30%;
	margin-top: 5%;
}
input,textarea,select,button{
	margin-top: 5px;
}
body{
	background-image: url('/img/bg.png');
}
.menu{
				width: 200px;
				height: 50px;
}
th{
	font-family: 'Open Sans', sans-serif;
	color: lightslategray;
}
#conteudo{
	width: 80%; 
	margin-top: 20px
}
.fundobranco{
	background: white;
}